<html>
  <head>
    <title>Bonjour {{username}}</title>
  </head>
  <body>
    <a href='http://localhost:3000/categories'>All categories</a></br>
    <a href='http://localhost:3000/categories/b6605363-bf6b-457c-b616-84de2a6594d9/'>1 category</a></br>
    <a href='http://localhost:3000/categories/b6605363-bf6b-457c-b616-84de2a6594d9/products'>product from 1 category</a></br></br>
    <a href='http://localhost:3000/brands'>All brands</a></br>
    <a href='http://localhost:3000/brands/05d90df9-16ea-403f-8404-d0ffd421cb24'>1 brand</a></br></br>
    <a href='http://localhost:3000/products'>All products</a></br>
    <a href='http://localhost:3000/products/6e9accf7-7184-45c9-9412-85bcffc2ca77'>1 product</a></br>
  </body>
</html>
