{% extends "layout.njk" %}

{% block content %}
<h1>PROFILE</h1>

<div class="album py-2 bg-light">
  <div class="container">
	
	  <div>
		<label>id: {{id}}</label>
		<label>email: {{email}}</label>
		<label>name: {{name}}</label>
	  </div>
	  
  </div>
</div>
{% endblock %}
